
/*Headline part*/
#header{
    color: crimson;
    text-decoration: underline;
    text-decoration-color:crimson;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
/*End of HeadLine part*/

/*Container part*/
div.content{
    background-color :white;
    width: 100%;
    height: auto;
    padding: 8%;
    border: 2px dashed maroon;
    margin-bottom: 60px;
}
/*End of Contailner part*/

/*Profile Intro part*/
#profile{
    font-size: initial;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}

div.head1_content{
    font-family: 'Times New Roman', Times, serif;
    font-size: inherit;
    padding: 10px;
    margin-bottom: -30px;
}
/*Profile Intro part*/

/*Heading part*/
div.head{
    background-color: rgb(183, 211, 183);
    font-family: 'Courier New', Courier, monospace;
    font-size: initial;
    margin-top: 30px;
    padding-left: 10px;
    padding-top: -4px;
    padding-bottom: -5px;
    border: 1px solid black;
}
/*End of Heading part*/

/*Qualification Details*/

table{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
div.marks{
    margin-top: 40px;
}
/*End of Qualification Details*/

/*Knowledge in software & Personal Profile*/
div.tech{
    margin-top: 30px;
    padding-left: 10%;
}
table.tech_tbl,table.info_tbl{
    text-align: left;
}
#tech_td,#info_td{
    padding: 5px;
}
div.info{
    margin-top: 30px;
    padding-left: 10%;
}
/*End of Knowledge in Software & Personal Profile*/

/*College Project Work Details*/
div.proj_name{
    text-align: center;
    font-size: inital;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-bottom: 30px;
}
div.proj_content{
    font-size: inital;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}
/*End of College Project Work Details*/

/*Personal Skills*/
div.p_skill{
    font-size: inital;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    padding-left: 10%;
    padding-top: 10px;
}
#item{
    padding-top: 5px;
    font-family: 'Times New Roman', Times, serif;
}
/*End of Personal Skills*/

/*Responsive using MediaQuery*/
html,th,strong{
    font-size: 1rem;
}
@media (max-width : 350px){
    #profile_img{
        float: top center;
        height: 65%;
        width: 100%;
        margin-bottom: 10%;
    }
    #profile_content{
        font-size: 5vw;
    }
    #profile{
        margin-bottom: -7%;
    }
    section.container{
        max-width: unset;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;   
    }
    #header{
        font-size: 1.4rem;
        margin-top: -4%;
        margin-bottom: 2%;
        padding-top: 1%;
    }
}

@media (min-width : 350px)
{
   html{font-size: 1.25rem;}
   section.container{
    max-width: unset;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;   
    }
    #header{
    font-size: 1.25rem;
    margin-top: -4%;
    margin-bottom: 2%;
    padding-top: 1%;
    }
}

@media (min-width : 768px)
{
    html{font-size: 1.25rem;}
    
}

@media (min-width : 992px){
    html{font-size: 1.5rem;}
    div.head1_content{
        padding-top: 2%;
        padding-bottom: 2%;
    }
    div.content{
        padding: 5%;
    }
    #header{
        font-size: 1.5rem;
        margin-top: -3%;
        margin-bottom: 3%;
        padding-top: 1%;
    }
    section.container{
        max-width: unset;
        padding: 3% 6% 3% 6%;
    }
}

@media (min-width : 2000px){
    html{font-size: 2.8em;}
   
    #profile_img{
        height: 100%;
        width: 15%;
        margin-top: -2%;
    }
    #header{
        font-size: 2rem;
        margin-top: -4%;
        margin-bottom: 2%;
    }
}

/*End of making Responsive part*/